[Unit]
Description=Quiz App
After=network.target

[Service]
WorkingDirectory=/var/www/esc.basisadresse.de/
ExecStart=/usr/bin/node /var/www/esc.basisadresse.de/server.js
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
